mixin conversionTable(fromCurrency,toCurrency)
     
    .Currency-Container 
        .Currency-Header 
            h3= `Convert ${fromCurrency} to ${toCurrency}`
        .Currency-Column-Header
            .Currency-Column-From
                h4= `${fromCurrency}`
                #from-row-1= `1 ${fromCurrency}`
                #from-row-2= `10 ${fromCurrency}`
                #from-row-3= `100 ${fromCurrency}`
                #from-row-4= `1000 ${fromCurrency}`
                #from-row-5= `10000 ${fromCurrency}`
            .Currency-Column-To
                h4= `${toCurrency}`
                #to-row-1
                #to-row-2
                #to-row-3
                #to-row-4
                #to-row-5
        
                