mixin flightsResults(originAirport, destinationAirport, departDate, returnDate, passengers)
    .search-terms
        .flex-row.space-between
            p
                span#origin-airport #{originAirport} |
                span#destination-airport  #{destinationAirport}
            p
                span#departure-date #{departDate} |
                span#arrival-date  #{returnDate}
        .flex-row.space-between
            p
                span#passenger-number #{passengers}
                span  adult(s) |
                span  Economy
            //- button Return