mixin resultCard(outCarrier, outDepartureTime, outDepartureAirport, outDuration, outStops, outArrivalTime, outArrivalAirport, inCarrier, inDepartureTime, inDepartureAirport, inDuration, inStops, inArrivalTime, inArrivalAirport, ticketPrice)
    link(rel="stylesheet" href="resultCard.css")
    .result
        .grid
            .carrier.carrier-departure.vertical-center #{outCarrier || `Ryanair`}
            .flight-grid
                .col.col-departure.vertical-center
                    p
                      span.time #{outDepartureTime || `06.35`}
                      span.airport #{outDepartureAirport || `STN`}
                .col.col-duration.vertical-center
                    p.duration #{outDuration || `2h`}
                    .line
                        i.fa-solid.fa-plane
                    p.stops #{outStops + ` stop` || `Direct`}
                .col.col-arrival.vertical-center
                    p
                      span.time #{outArrivalTime || `09:35`}
                      span.airport #{outArrivalAirport || `MXP`}
            .carrier.carrier-return.vertical-center #{inCarrier || `Ryanair`}
            .flight-grid
                .col.col-departure.vertical-center
                    p
                      span.time #{inDepartureTime || `13.20`}
                      span.airport #{inDepartureAirport || `MXP`}
                .col.col-duration.vertical-center
                    p.duration #{inDuration || `2h06`}
                    .line
                      i.fa-solid.fa-plane
                    p.stops #{inStops + ` stop`|| `Direct`}
                .col.col-arrival.vertical-center
                    p
                      span.time #{inArrivalTime || `14:25`}
                      span.airport #{inArrivalAirport || `STN`}
        .price #{ticketPrice || `£61`}